.principio{    
    background-color:brown;
    padding: 30px;
}

#img{
    text-align: center;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size: 30px;
}

em strong {
    color:yellowgreen
}

.lista{
font-style: italic;
}

.beneficio{
    background: white;
    padding: 20px;
}

h2 {
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin: 10%;
}

.imgbenifecio{
    width: 50%;
}